.logoutTranslate { 
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%,-50%);
    width: 50%;
}
.logoutTranslate2 { 
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-48%,-150%);
  
}
.btnIcon1{
      color: goldenrod;
    font-size: 30px;
  }
.btnIcon2{
      color: goldenrod;
      font-size: 100px;
  }